{% extends 'reddit/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Clone</title>
</head>
<body>
<h1>The homepage of nowhere</h1>
<a href="{% url 'clone-create-post' %}">New post</a>
<br/>
{% for post in posts.all %}
    <form method="POST" action="{% url 'clone-upvote' post.id%}">
        {% csrf_token %}
        <button type="submit">UP</button>
    </form>

    {{ post.score }}

    <form method="POST" action="{% url 'clone-downvote' post.id %}">
        {% csrf_token %}
        <button type="submit">DOWN</button>
    </form>

    <a href="{{ post.url }}">{{ post.title }}</a>
    <br/>
    {{ post.published_date }} by {{ post.author.username }}
{% endfor %}
</body>
</html>
{% endblock %}