{% extends 'reddit/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Login</h1>
    {% if error %}
        {{ error }}
    {% endif %}

    <form method="POST" action="{% url 'accounts:clone-login' %}">
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        {% endif %}

        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username">
        <br/>
        <label for="password1">Password: </label>
        <input type="password" name="password">
        <br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
{% endblock %}